img.avatar-img-medium {
  max-width: 74px;
  border: 3px solid #fff;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  background-size: cover;
  background-position: 50%;
}
.border-radius-65 {
  border-radius: 0.65rem;
}

.border-radius-1 {
  border-radius: 1rem;
}
.opacity-white-10 {
  background: rgba(255, 255, 255, 0.3);
}
.icon-app img {
  border-radius: 0.75rem;
  height: 47px;
  width: 47px;
}

.h3 {
  font-size: 1.0625rem;
}
.h4 {
  font-size: 0.9375rem;
}
