<main class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light pt-3 bg-f5365c">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <img class="avatar-img rounded-circle ml-3 mb-3" src="../../../assets/img/custom/profile.jpg" alt="Profile">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span class="menu text-white"><i class="bx bx-menu"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link text-white" href="#">Features</a>
        <a class="nav-link text-white" href="#">Pricing</a>
        <a class="nav-link text-white disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </nav>
  <div class="row bg-f5365c pl-3 pt-3 pl-3 pb-5">
    <div class="col-6">
      <h5 class="text-white">Links</h5>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-light btn-sm mr-2" type="button" (click)="new()" ><i class="bx bx-plus"></i></button>
      <a class="btn btn-light btn-sm mr-2" [routerLink]="['/link',user.domain]" target="_blank"> <i class="bx bx-link"></i></a>
    </div>
  </div>
  <div class="card m-3">
    <div class=" card-header border-0">
      <div class="row">
        <div class="col-6">
          <h6 class="mb-0"><strong>Striped table</strong></h6>
        </div>
        <div class="col-6 text-right">
          <a href="" class=" btn btn-sm btn-primary btn-round btn-icon">
            <span class=" btn-inner--icon">
              <i class="bx bx-link"></i>
            </span>
            <span class=" btn-inner--text"> Texto</span>
          </a>
        </div>
      </div>
    </div>
    <div class=" table-responsive">
      <table class=" table align-items-center table-flush table-striped">
        <thead class=" thead-light">
          <tr>
            <th scope="col">Fonte</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let link of linkList"> -->
          <tr>
            <td class=" table-user">
              <img class=" avatar-img rounded-circle mr-3" src="../../../assets/img/custom/profile.jpg" alt="Profile">
              <b><a href="http://localhost:4200/#/">http://localhost:4200/#/</a></b>
              <button type="button" class="btn btn-danger" >X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
